img{
    height: 150px ;
    width: 80%;
}

#logotipo{
    height:50px ;
    width: 60%;
}

.logo{
    font-size: 30px;
    font-weight: 600;
    color: rgb(95, 77, 77);
}

.table__productos{ 
    display: flex;

}
.table__productos > img{
    width: 7rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}
.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}
.card-body{
    margin: 10px;
    color: brown;
    background-color: coral;
    border-radius: 15px;
    text-align: center;
}
.list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}